* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: robotoMono;
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/robotoMono.ttf) format("truetype");
}

#typer {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    position: relative;
    height: 144px;
    width: 70vw;
}

#typearea {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.word {
    display: inline-block;
    margin: 8px;
}

.letter {
    display: inline-block;
    font-family: "robotoMono";
    font-size: 32px;
    line-height: 32px;
    color: lightgray;
}

.correct {
    color: lightgreen
}

.incorrect {
    color: red;
}


#inputReader {
    opacity: 0;
    position: absolute;
}

#cursor {
    position: absolute;
    width: 0;
    height: 48px;
    border-left: black 4px solid;
    border-radius: 100em;
    transition: transform 0.1s ease;
}